# Strings, Lists, Inputs

Strings

In [20]:
# String Concatenation 
one = "do you like "
two = "green eggs and ham?"
three = " yes, I like them Sam I am."

allTogether = one + two + three
print(allTogether)

print(one[9])
#print(one[])

#search strings with str.find()

# Quotes in Strings
x = "it's a long ride for someone with nothing to think about"
#y = 'it's a long ride for someone with nothing to think about'


print(x.find("g"))
print(x.find("z"))
print(x.find("one"))   # part of a word in the string can be found if the target is a fragment
print(x.find("rides")) # but part of the target cannot be matched in the string, the whole target must match

print('Where is the "to think" statement? It starts at: ' + str(x.find("to think")))

do you like green eggs and ham? yes, I like them Sam I am.
k
10
-1
25
-1
Where is the "to think" statement? It starts at: 42

Lists and Indexing

In [30]:
# LISTS

# LISTS - containers for multiple values

num_list = [1,2,3,4,5,6,7,8,9]
list2D = [[1,2,3],[4,5,6]]
print(list2D)  # grab one of the whole lists
print(list2D[1][1]) # grab a single value from the second list

   
str_list = ["me", "myself", "i"]

mixed_list = [1,2,"three",4,"five"]   # it's possible, but not ususally recommended

# List indexing - same as string indexing - start from zero

#       num_list = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ]
# index            < 0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 >
# rev index        < -9, -8, -7, -6, -5, -4, -3, -2, -1>

#       str_list = ["me", "myself", "i"]
# index            [  0 ,    1    ,  2 ]
# rev index        [ -3 ,   -2    ,  -1]

num_list[3]     # one value
num_list[-2]    # from the end
print(num_list[3:6])   # range
num_list[3:]    # all values after and index

# selecting a range of values (slicing)
# index range (exclusive, does not include the last index)
num_list[0:3]

# ??? print the values 4,5,6,7 from num_list
num_list[3:7]
#num_list[-6,-2]  # smae thing, just using the reverse case

# every nth value - list[start:end:step]
print(num_list[1:9:2])

# ??? odd numbers


#List length
len(str_list)

# reassigning
#str_list[3] = "giraffe"

[[1, 2, 3], [4, 5, 6]]
5
[4, 5, 6]
[2, 4, 6, 8]

3

User Input and Formatting Print Statements

In [36]:
strInput = input("What is your favorite color? ")
print("your favorite color is " + strInput)

intInputRaw = []
intInputRaw = int(input("How old are you? "))
print(type(intInputRaw))

#intInput = int(intInputRaw)
#print(type(intInput))
#print(intInput)

What is your favorite color? pink
your favorite color is pink
How old are you? 40
<class 'int'>

Boolean Data Type

In [ ]:
# BOOLEAN Values - True and False
ducks = True
flying_pigs = Falses

# use print() to see the results
ans = 3 > 4
ans = 5 != 3.3
ans = 4 == 3

the other is larger.
my vars are not the same.
the list wins.

##Flow Control
Conditional Statements

In [ ]:

# Basic IF Statement
#
# IF var meets condition:
#    do something...

my_var = -1

if my_var > 0:
    print( "my_var is positive")
    
# the conditions can be simple comparisons
#   or more complex with math or multiple conditions

# essentially IF statements are testing for TRUE or FALSE

# Some examples
my_other_var = 6
if my_var < my_other_var:
  print("the other is larger.")

if my_var != my_other_var:
  print("my vars are not the same.")

# using a function in an If statement
my_list = [1,3,7,2,8,5,12,7,2,1,9]



# compare my_other_var with the largest value in my_list
if my_other_var < max(my_list):
  print("the list wins.")



# ELSEIF - adding additional conditions
#
# if var meets condition:
#    do something...
# check another condition:
#    do something...
# if not (ELSE):
#    do something else

if my_var % 2 == 0:           # wait... what is %??  Google it!
    print( "my_var is even")
else:
    print( "my_var is odd")

In [ ]:
#%% IF...ELSE
#
# IF var meets condition:
#    do something...
# ELSE (if not):
#    do something else

my_var = 13458

if my_var % 2 == 0:
    print( "my_var is even")
else:
    print( "my_var is odd")

In [ ]:
# ELSEIF - adding additional conditions
#
# if var meets condition:
#    do something...
# check another condition:
#    do something...
# if not (ELSE):
#    do something else

# Call upon the Random Library to generate random numbers for us!  
import random as rand
my_var1 = rand.randint(1,100)
my_var2 = rand.randint(1,100)

print( "my_var1 = %i and my_var2 = %i" %(my_var1,my_var2))

if my_var1 > my_var2:           
    print( "my_var1 is larger")
elif my_var2 > my_var1:
    print("my_var2 is larger")
else:
    print( "my_vars are equal... how random!")

my_var1 = 2 and my_var2 = 96
my_var2 is larger

In [ ]:
# USING AND and OR in IF STATEMENTS
#
# AND and OR can be used to test multiple conditions in a single IF

my_var1 = rand.randint(1,100)
my_var2 = rand.randint(1,100)

print( "my_var1 = %i and my_var2 = %i" %(my_var1,my_var2))

if my_var1 < 30 and my_var2 < 30:
    print( "my vars are less then 30")
elif my_var1 < 30 or my_var2 < 30:
    print( "var1 or var2 is less that 30")
    if my_var1 < 30:
        print( "var1 is less than 30")
    else:
        print( "B is less than 30")
else:
    print( "Neither is less than 30")

my_var1 = 18 and my_var2 = 20
my vars are less then 30